$primary-bg-color : hsl(235, 18%, 26%);
$sec-bg-color : hsl(0, 0%, 100%);
$primary-txt-color : hsl(234, 29%, 20%);
$sec-txt-color : hsl(231, 7%, 60%);
$sp-bg-color : hsl(4, 100%, 67%);
$sp-bg-color-1 : hsla(4, 100%, 67%, 0.2);
$sp-bg-color-2 : hsla(4, 100%, 67%, 0.8);